body {
    background: #21242b; 
    color: #cdcdcd;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px
}

a {
    color: #9e76c6;;
}

input, textarea, select {
    color: #cdcdcd;
    background-color: #342b39;
}

p {
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 10;
    margin-right: 10;
    background-color: #342b39;
    border: #cdcdcd;
    border-style: solid;
    border-width: 1px;
    max-width: 50%;
}
