body {
    background: #21242b; 
    color: #cdcdcd;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px
}

a {
    color: #9e76c6;;
}

input, textarea, select {
    color: #cdcdcd;
    background-color: #342b39;
}