body {
    background: #21242b url(/image/fade-blue.png) top center repeat-x;
    color: #cdcdcd;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px
}

a {
    color: #9e76c6;;
}