{% extends "base.jinja2" %}

{% block content %}
<h1>Dunderchan</h1>
<p>{{ motd }}</p>
<h2>View Content</h2>
{% for thread in recent_threads %}
    <p>{{thread.id}}. {{ thread.text }}</p>
    <p><a href="/poast/{{ thread.id }}">View Replies</a></p>
    {% if not loop.last %}
    <div>
    {% endif %}
{% endfor %}
<hr>
<h2>Create Content</h2>
<form action="/poast" method="post">
    {{ form.csrf_token }}
    {{ form.reply_to }}
    {{ form.poast_text() }}
    {{ form.reply_to }}
    <br>
    {{ form.submit() }}
</form>
{% endblock %}