{% extends "base.html" %}

{% block content %}
<h1>Dunderchan</h1>
<p>Which way Western Man?</p>
<h2>Fresh Poast</h2>
{% for poast in poasts %}
    <p>{{ poast.text }}</p>
    <p>{{poast.id}}. <a href="/poast/{{ poast.id }}">view</a></p>
    {% if not loop.last %}
    <hr>
    {% endif %}
{% endfor %}
<h2>Poaster</h2>
<form action="/poast" method="post">
    {{ form.csrf_token }}
    {{ form.reply_to }}
    <p>{{ form.poast_text.label }}</p>
    {{ form.poast_text() }}
    {{ form.reply_to }}
    <br>
    {{ form.submit() }}
{% endblock %}