<!DOCTYPE html>
<html>

<head>
    <title>Dunderchan</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico" />
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
</head>

<body>
    {% block content %}
    {% endblock %}
    <script>
        function refreshPosts() {
            // Your HTMX function code here
            htmx.trigger(document.getElementById("refreshButton"), "click");
        }
        document.addEventListener("DOMContentLoaded", function () {
            refreshPosts(); // Call your HTMX function on page load
        });
    </script>
</body>

</html>