{% extends "_base.jinja2" %}
{% block content %}
<h1>{{ greeting }}</h1>
<form hx-post="/posts" hx-target="#posts_list">
    <input type="text" id="title" name="title" placeholder="Title" required>
    <input type="text" id="author" name="author" placeholder="Author">
    <button type="submit">Submit Post</button>
    </br>
    <textarea type="text" id="content" name="content" placeholder="Content" rows="5" , cols="30" required></textarea>
</form>
<button hx-get="/posts" hx-swap="innerHTML" hx-target="#posts_list">
    Refresh Poasts
</button>
<div id="posts_list"></div>
{% endblock %}