{% extends "_base.jinja2" %}
{% block content %}
<div class="container is-primary">
    <section class="section hero">
        <h1 class="title">Dunderchan</h1>
        <h2 class="subtitle">{{ greeting }}</h2>
    </section>
    <section class="section">
        <form hx-post="/posts" hx-target="#posts_list">
            <label for="title" class="label">Title:</label>
            <input type="text" id="title" class="input" name="title" placeholder="Title" size="30" required></br>
            <label for="author" class="label">Author:</label>
            <input type="text" id="author" class="input" name="author" placeholder="Author" size="28"></br>
            <label for="content" class="label">New Content:</label>
            <textarea type="text" class="textarea" id="content" name="content" placeholder="Content" rows="5" ,
                cols="30" required></textarea>
            <button type="submit" class="button" class="submit">Submit Post</button>
        </form>
    </section>
    <section class="section">
        <button id="refreshButton" class="button" hx-get="/posts" hx-swap="innerHTML" hx-target="#posts_list">
            Refresh Poasts
        </button>
        <div id="posts_list"></div>
    </section>
</div>
{% endblock %}