<div class=post-list>
    {% for post in posts %}
    <p class="card">
        <b>{{ post.id }} - {{ post.author_hash }} : {{ post.title }}</b></br>
        {{ post.content }}
    </p>
    {% endfor %}
</div>